<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yangshuai.module.find">
    <!-- 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 end-->
<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        tools:replace="android:allowBackup">-->

<!--    </application>-->
</manifest>